/* ================================================================================ layout style   ======================================================================================= */


body {
    direction: ltr;
}

.menu-links {
    direction: ltr;
}

.sidebar-right .menu {

    direction: rtl;
}

.sidebar-right header .toggle {
    right: -25px;
    left: auto;
    transform: rotate(180deg);
}

.sidebar-right .nav-link .nav-text[data-bs-toggle=collapse].collapsed::after {
    content: '\f104';
    transform: rotate(180deg);
    float: right;
}

.sidebar-right {
    border-left: none !important;
    border-right: 2px solid #39629C;
}

.sidebar-right.close {
    border-right: 2px solid #ffffff !important;
    border-left: none;

}

.sidebar-right.close:hover {
    border-right: 2px solid #39629C !important;
    border-left: none !important;

}

.sidebar-right {
    border-right: 2px solid #39629C;
    border-left: none;
}

.inner-collapse-arrow {
    transform: rotate(180deg);
}

.sidebar-right .nav-link .nav-text[data-bs-toggle=collapse]::after {
    float: right;
}
/* Responsive */
@media (max-width: 1024px) {

  .sidebar-right {
    left: 0;
  }

  .sidebar-right.closed {
    left: -250px;
  }

  .sidebar-left {
    right: 0;
    left: auto;
  }
}


.navbar-expand-lg .navbar-nav .nav-link {
    flex-direction: row-reverse;
    gap: .5rem;
}

.icons-content {
    justify-content: flex-end;
}

.userDropdown-options .logout {
    transform: rotate(180deg);
}

.stat-btn {
    padding-right: inherit;
}

/*  */
.toggle-div {
    left: -35px;
    right: auto;
}

.toggle-btn {
    right: -12px;
    left: auto
}

.sidebar-right.closed .toggle-btn {
    transform: none;
}

.sidebar-right .toggle-btn  {
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .membership-chevron {
        transform: rotate(270deg);
    }
}

@media (min-width: 768px) {
    .membership-chevron {
        transform: rotateY(180deg) !important;
    }
}

@media (max-width: 1300px) {
    .sidebar2.close2 {
        left: -45px;
        left: auto;
    }
}

@media (max-width: 1000px) {
    .sidebar.close {
        left: -200px;
    }
}

/* ================================================================================ search input   ======================================================================================= */
.search-input {
    direction: rtl;
}

/* ================================================================================ table style   ======================================================================================= */
.tables-style thead {
    direction: rtl;
}

.tables-style {
    direction: rtl;
}

.tables-style th:last-child {
    border-radius: 8px 0px 0px 8px;
}

.tables-style th:first-child {
    border-radius: 0px 8px 8px 0px;
}

/* ================================================================================  Company => Branches     ======================================================================================= */
/* ================================================================================================================================================================================== */
.new-Branch {
    right: -60px;
    left: auto;
}

.ExistFileData {
    right: auto;
    left: -280px;
}

.dropdown-content {
    width: 255px;
}

.ExistFileData {
    width: 230px;
}

.data-container {
    text-align: right;
}

.Chevron {
    transform: rotateY(180deg);
}

.doc-save-align {
    text-align: end;
}

.custom-margin {
    margin-right: 40px;
    margin-left: 0;
}

@media (max-width: 1024px) {
    .main-page-icon {
        position: sticky;
        left: -100px;
        bottom: 10%;
        right: 100%;
        z-index: 9;
    }
}

@media (max-width : 1600px) {
    .new-Branch {
        right: 0px;
        left: auto;
    }
}


/* ================================================================================  inputs   ======================================================================================= */
.counterCode {
    border-radius: 0px 8px 8px 0px !important;
    border-left: none;
    border-right: 2px solid #faa64d;
}

.tel-input {
    border-radius: 8px 0px 0px 8px !important;
}

.number-input-container button {
    margin: 0px 7px 0px 0px;
}

.profile-section {
    border-left: 2px solid #D9D9D9;
    border-right: none;
}

.select-style {
    background-position: right .75rem center;
    padding: .375rem 2.25rem .375rem .75rem !important;
}

/* ================================================================================  services => technical connect     ======================================================================================= */
/* ================================================================================================================================================================================== */
.techncal-connect-error {
    direction: ltr;
}

/*marquee*/

.marquee-xmark {
    right: auto;
    left: 5px
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*================Tenants Messages =================================================== */
/* message input  */
.messageinput {
    padding-right: 30px;
    padding-left: 6px;
}

.input-container i {
    right: 10px;
    left: auto;
}

.sendmessage {
    transform: rotate(180deg);
}

.input-container #clip {
    right: 10px;
    left: auto;
}

/*================dropdown  =================================================== */
.dropdown-content-row {
    text-align: left !important;
}


/* حسابي */
.Profile-Data-section {
    direction: ltr;
}

.counterCode {
    border-radius: 0px 8px 8px 0px !important;
    border-left: none;
   border-right:2px solid #faa64d ;
   padding: 0px !important;
}
.tel-input {
    border-radius: 8px 0px 0px 8px !important;
}
.number-input-container button{
    margin: 0px 7px 0px 0px;
}
.profile-section {
    border-left: 2px solid #D9D9D9;
    border-right:none ;
}
.select-style{
    background-position:right .75rem center;
}

